<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="firstName?.errors"> firstName is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="lastName?.errors"> firstName is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors"> email is required and must be a valid email adress format</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping Address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getAllStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country"> {{ country.name }}</option>
                                </select>

                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="shippingAddressCountry?.errors"> country is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State/Region/Province</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">{{state.name}}</option>
                                </select>
                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="shippingAddressState?.errors"> this field is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="shippingAddressCity?.errors"> city is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="shippingAddressStreet?.errors"> street is required  and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAddressZipcode?.invalid && (shippingAddressZipcode?.dirty || shippingAddressZipcode?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="shippingAddressZipcode?.errors"> Zip code is required is and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- add the functionallity to duplicate the contain of the shipping Address to billing address-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingToBillingAdress($event)">
                        <span class="au-checkmark"></span>Billing Adress same as Shipping Adress
                    </label>
                </div>

                <!-- Billing Address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getAllStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country"> {{ country.name }}</option>
                                </select>
                                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                                    <!--the nullable does not allow to use extention after errors:     "<div *ngIf="lastName?.errors.required  || lastName?.errors.notOnlyWhiteSpace">"-->
                                    <div *ngIf="billingAddressCountry?.errors"> country is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State/Region/Province</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">{{state.name}}</option>
                                </select>
                                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState?.errors"> this field is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressStreet?.errors"> street is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                            <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingAddressCity?.errors"> city is required and must be at least 2 characters long</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipcode?.invalid && (billingAddressZipcode?.dirty || billingAddressZipcode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressZipcode?.errors"> zip code is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit card info-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="type">
                                    <option value="">Visa</option>
                                    <option value="">MasterCard</option>
                                </select>
                                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType?.errors"> credit card type is required </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNameOnCard?.errors"> name is required and must be at least 2 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber?.errors"> name is required and must be 16 digit long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode?.errors"> name is required and must be 3 digit long</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCartMonths">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" (change)="handleMonthAndYears()">
                                    <option *ngFor="let year of creditCartYears">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order Details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: Free</p>
                    <p>Total Price: {{ totalPrice }}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>